/* Navbar style */
.navbar .container-fluid{
    padding: 1.4rem 7%;
    background-color: #fdd835;
    border-bottom: 1px solid #F2DD72;
    position: fixed;
    top: 0;
    z-index: 9999;
  }
  
  .navbar .container-fluid img{
    width: 20%;
    position: absolute;
    left: 20px;
    margin: 0;
    top: 60%;
    transform: translateY(-50%);
  }
  
  .navbar h4 {
    color: #dc3545;
  }
  
  header img {
    max-width: 120px;
    margin-right: 20px;
  }
    /* Thumbnail slider */
    .thumbnail-container-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;
    }
    .thumbnail-container {
      display: flex;
      transition: transform 0.3s ease-in-out;
    }
    .thumbnail {
      flex: 0 0 auto;
      width: 200px;
      margin-right: 15px;
      cursor: pointer;
    }
    .thumbnail img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
    .thumbnail h6 {
      margin-top: 5px;
      font-size: 16px;
      text-align: center;
    }
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0,0,0,0.5);
      border: none;
      color: white;
      padding: 10px;
      cursor: pointer;
      z-index: 1000;
    }
    .arrow-left {
      left: 10px;
    }
    .arrow-right {
      right: 10px;
    }